@charset "utf8";

section{
	padding: 60px 0;
}

textarea{
    resize: none;
}

textarea.form-control{
    height: auto;
}

.form-control:focus{
  	border-color: #fd8900;
  	outline: 0px none;
  	box-shadow: initial;
}

input:focus{
	outline: 0px none;
}

.fa-3x {
    font-size: 1.5em;
    width: 9%;
}

p.dades-contacte:first-child{
	margin-top: 30px;
}

p.dades-contacte{
	margin:0 0 10px;
	line-height: 23px;
}

p.dades-contacte a{
	text-decoration: none;
	color:#333;
}

p.dades-contacte a:hover{
	color:#fd8900;
}

.fa-phone{
	vertical-align: -3px;
}

p.dades-contacte>i{
	width: 27px;
}

button.btn{
	padding: 15px 30px;
	color: #fff;
    background-color: #fd8900;

}

button.btn:hover{
	color: #fff;
}

label{
	padding-left: 13px;
	color:#fd8900 !important;
}

/* reset color to #fd8900 */
.portfolio-box .portfolio-box-caption {
	background-color: rgba(253, 137, 0, 0.9);
}
/* end reset color to #fd8900 */

.project-name hr{
	border:1px solid white;
	margin: 10px auto;
}

.client-activity{
	font-size: 18px;
	font-weight: initial;
}

.navbar-default .nav>li>a{
	color:#333;
}

.navbar-default .nav>li>a:hover{
	color:#fd8900;
}

.footer-avisos{
	text-decoration: none;
	color: #333;
}

.footer-avisos:hover{
	text-decoration: none;
	cursor: pointer;
	color: #fd8900;
}

.modal-header{
	color: white;
	background-color: #fd8900;
	border-radius: 4px 4px 0 0;
}

.modal-header button.close{
	color:white;
	opacity: 1;
}

.modal-body p{
	text-align: left;
}

.modal-body h1{
	text-align: left;
}

.modal-body h5{
	text-align: left;
	color:#fd8900;
	font-size: 16px;
}

.modal-body ul>li{
	text-align: left;
    list-style-type: circle;
    font-size: 14px;
    margin-left: -23px;
    margin-bottom: 20px;
}

header .btn-primary:hover, header .btn-primary:active, header .btn-primary:focus{
	color: #fd8900 !important;
    background-color: #fff !important;
    border-color: #fff !important;
}

section#about a{
	color:#fd8900;
}

@media (min-width: 1200px){

	.contact-left{
		float:initial;
	}

	.col-lg-3{
		width: 100%;
	}

	.col-lg-offset-2 {
    	margin-left: 0;
	}

} /* FI @media (min-width: 1200px) */

@media only screen and (max-width: 768px){

	nav div button{
	color: #fd8900 !important;
	border: 1px solid #fd8900 !important;
	}

	nav div button:hover, nav div button:focus{
	color: #fff !important;
	border: 1px solid #fff !important;
	background-color: #fd8900 !important;
	}

}

.flag_lang{
	display: inline;
    width: 26px;
    padding-bottom: 3px;
}

.dropdown-menu{
	min-width: initial;
}

.navbar-default .nav>li>a, .navbar-default .nav>li>a:focus{
	color: #333;
}

span#idiomes{
	position: relative;
    display: block;
    padding: 10px 15px;
    font-weight: 700;
    font-size: 13px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.portfolio-item{
	padding: 0 15px 30px !important;
	min-height: 370px;
}

.portfolio-item .portfolio-hover{
	background: rgba(253,137,0,.9);
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: all ease .5s;
	-webkit-transition: all ease .5s;
	-moz-transition: all ease .5s;
}

.portfolio-item .portfolio-hover:hover{
	opacity: 1;
}

.portfolio-hover-content{
	text-align: center;
	height: 100%;
}

.portfolio-hover-content>i{
	color: #fff;
	text-align: center;
	font-size: 3em;
	margin-top: 25%;
}

.portfolio-caption>p, .portfolio-caption>h4{
	text-align: center;
}

.portfolio-caption{
	background-color: #fff;
	padding: 10px;
	min-height: 130px;
}

#portfolio .col-lg-12>hr{
	margin-bottom: 60px;
}

#portfolio{
	/*padding: 100px 0;*/
	background-color: #bbb;
}

#menu_idiomes {
	position: absolute;
	top: 75px;
	right: 10px;
	z-index:999;
}

#menu_idiomes li {
	font-size: 0.8em;
}

#menu_idiomes li a {
	color: white;
}

#menu_idiomes li:hover a {
	color: #fd8900;
}
@media only screen and (max-width: 768px) {
  header .header-content .header-content-inner h1 {margin-top: 25px;}
}
